@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default;
}

@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-primary: #3b82f6;
  --color-secondary: #a5f3fc;
  --color-accent: #6366f1;
  --color-neutral: #374151;
  --color-base-100: #f0f9ff;
  --color-base-200: #e0f2fe;
  --color-info: #64748b;
  --color-success: #22c55e;
  --color-warning: #facc15;
  --color-error: #ef4444;

  --color-base-content: linear-gradient(to right, #3b82f6, #6366f1);
}

.gradient-text {
  background: var(--color-base-content);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  font-family: "Poppins", sans-serif;
}
